/*fonts:
font-family: 'Bonbon', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Anonymous Pro', monospace;

*/

* {
	margin: 0;
	padding: 0;
	/* With these codes padding and border does not increase it's width and gives intuitive style.*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	margin: 40px;
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.2em;
	display: flex;
	flex-wrap: row wrap;

}

.container {
	padding: 20px;

}

.user-form {
	display: flex;
	flex-wrap: wrap;
	min-width: 360px;
	border-radius: 20px;
	border: 1px solid lightgray; 
	margin: 10px;

}


.welcome-field {
	position: absolute;
	top: 0;
	right:0;
	display: flex table;
	flex-wrap: wrap;
	align-content: center;
	width: 100%;
	padding-top: 20px;
	padding-left: 60px;
	border: 1px solid lightgray; 
	background-color: #ededed;
	
}

.whiteboard {
	width: 70%;
	display: flex;
	flex-wrap: wrap;
	margin-top: 150px;
	justify-content: center;
	order: 0;
}


.sidebar {
	display: flex;
	flex-wrap: wrap;
	align-content:flex-start;
	margin-top: 160px;
	width: 25%;
	min-width: 360px;
	border-radius: 20px;
	border: 1px solid lightgray; 
	background-color: #ededed;
	order: -1;
}

.notice{
	position: relative;
	border: 3px solid red; 
/*	background-color: #ededed;*/
	color: #F50D11;
	border-radius: 20px;
	min-width: 360px;
	padding: 40px;
}

.footer-tools {
	display: flex;
	flex-wrap: row wrap;
	position: fixed;
	bottom: 10px;
	left: 50px;
	border: 1px solid #D3A38F;
	border-radius: 20px;
	background: none;
	height: 80px;
	width: 10%;
}

.postit {
	width: 38vw;
	max-width: 34vh;
	height: 38vw;
	max-height: 34vh;
	margin: 10px;
	padding: 10px 20px;
	border-bottom-right-radius: 150px 10px;
	transform: rotate(-2deg);
	-webkit-box-shadow: 0 15px 10px #777;
	-moz-box-shadow: 0 15px 10px #777;
	box-shadow: 3px 3px 3px -4px black;
	font-family: 'Anonymous Pro', monospace;
}

input {
	text-indent: 5px;
	font-size: 0.9em;
}

legend {
	font-size: 1.5em;
	font-family: sans-serif;
}

.postit-text {
  word-wrap: break-word;
  max-height: 9em;
  line-height: 1.8em;
	overflow: hidden;
}



.postit button {
	position: absolute;
	background: none;
	color: black;
	margin: 5px;
	top: 0;
	right: 0;
}

.yellow {
	background: linear-gradient(145deg, #FEE96E, #FFF7D3);
	
}
.blue {
	background: linear-gradient(145deg, #09BACC, #08D3F6);
	
}
.green {
	background: linear-gradient(145deg, #9AC64E, #B0E95A);
	
}

.pink {
	background: linear-gradient(145deg, #ffa5f6, #ffcefa);
	
}

.grey {
	background: linear-gradient(145deg, #dddbdc, #fcf7f9);
}


.postit:nth-child(1) {
	transform: rotate(-3deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(2) {
	transform: rotate(2deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(3) {
	transform: rotate(-1deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(4) {
	transform: rotate(2deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(5) {
	transform: rotate(-1deg);
	box-shadow: 4px 4px 4px -5px black;
}
.postit:nth-child(6) {
	transform: rotate(-4deg);
	box-shadow: 4px 4px 4px -5px black;
}
h1 {
	font-size: 2em;
	font-family: 'Anonymous Pro', monospace;
}
h2 {
	font-family: 'Anonymous Pro', monospace;
	font-size: 1.4em;
	margin-top: 2em;
/*	text-align: center;*/
}

.postit h2 {
  word-wrap: break-word;
font-size: 1.1em;
  max-height: 3.6em;
  line-height: 1.3em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	margin-right: 10px;
/*	text-align: center;*/

}

h3 {
	font-family: 'Special Elite', cursive;
	font-size: 1.1em;
	font-weight: 500;
	margin-top: 15px;
	display: block;
}
p {
	font-size: 0.9em;
}

strong {
/*	margin-top: 30px;*/
	text-align: center;
	margin-left: 30px;
}
.name {
	position: absolute;
	margin: 10px;
	bottom: 0;
	right: 5px;
	font-style: oblique;
	font-size: 1em;
}
time {
	position: absolute;
	margin: 10px;
	bottom: 0;
	left: 0;
	font-size: 0.9em;
}
li {
	cursor: move;
}

i {
	color: #A8A8A8;
	position: absolute;
	margin-right: 10px;
	left: 0;
	top: 0;
	font-size: 0.8em;
}

i:hover {
	color:#FBA4A5;
}


/* Styling side-bar */

input {
	margin-left: 10px;
	margin-right: 5px;
	margin-top: 10px;
	font-family: 'Anonymous Pro', monospace;
}


.textfield-large {
	font-size: 0.9em;
	margin: 10px 0;
	padding: 20px;
	height: 250px;
	width: 100%;
	border-radius: 20px;
	border-style: hidden;
	background: white;
	font-family: 'Anonymous Pro', monospace;
}
.textfield-small {
	font-size: 0.9em;
	margin: 10px 0;
	padding: 20px;
	height: auto;
	max-width: 400px;
	width: 100%;
	border-radius: 20px;
	border-style: hidden;
	background: white;
}
button {
	margin-top: 20px;
	padding: 0.5em 1em; 
	border: none;
	background: none;
	border-radius: 10px;
}

.submit-button {
	font: 700 2em;
	background: #fa619c;
	font-size: 1em;
	box-shadow: 1px 1px 5px #CBCBCB;
  
}
.second-button {
	margin-left: 10px;
	margin-bottom: 0;
	font-size: .8em;
	background: #e6e6e6;
	color: #141414;
	border: none;
	text-decoration: underline;
	box-shadow: 1px 1px 5px #CBCBCB;
}


/*MEDIA queries*/

@media only screen and (max-width: 800px) {
body {
	margin: 10px;
	justify-content: space-between;
}

.whiteboard {
	width: 55%;
}

.sidebar {
	width: 45%;
	min-width: 360px;
}

.postit {
	min-width: 25vh;
	min-height: 25vh;
	margin: 10px;
}
	.postit-text {
  word-wrap: break-word;
  max-height: 9rem;
  line-height: 1em;
	overflow: hidden;
}

.postit p {
	font-size: 0.8em;
	margin-top: 0;
}
.postit h2 {
	font-size: 0.8em;
	margin: 0;
}
.sidebar h1 {
	font-size: 1.2em;
}
.textfield-large {
	width: 90%;
}
.textfield-small {
	width: 90%;
}

}

/* Small screens */
@media all and (max-width: 500px) {
body {
	/* On small screens, we are no longer using row direction but column */
	display: flex table-column;
	flex-wrap: wrap;
	justify-content:space-around;
	align-content: center;
	margin: 0;
	font-size: 1.1em;
}
	
.welcome-field {
	position: relative;

	order: 1;
	margin: 0;
	align-content: center;
}
	
.whiteboard {
	order: 0;
	width: 100%;
	min-width: 300px;
	margin-top: 20px;

}

.sidebar {
		order: -1;
			width:100%;
	max-width: 300px;
	margin-top: 10px;

}



.sidebar h3 {
		font-size: 0.9em;
		margin-top: 10px;
}

.postit h2 {
	font-size: 0.9em;
	margin-top: 10px;
	 word-wrap: break-word;
  max-height: 3rem;
  line-height: 1rem;
	
}

	h3 {
 font-size: 0.9em;
}

	
	
.postit p {
	font-size: 0.7em;
	margin: 0;
}

	.postit-text {
  word-wrap: break-word;
  max-height: 9rem;
  line-height: 1em;
	overflow: hidden;
}

	h1 {
		font-size:1.2em;
		margin-top: 20px;
	}



time {
	position: absolute;
	bottom: 10px;
	left: 10px;
	margin: 0;
	font-size: 0.8em;
}
	
.name {
	position: absolute;
	bottom: 10px;
	right: 10px;
		
			margin: 0;
}

	form {
		max-width: 80%;
	}

}
